/webRTC
server/*/__pycache__/*
server/static/YOLOv3/.ipynb_checkpoints/*
server/static/YOLOv3/yolov3.cfg
server/static/YOLOv3/yolov3.weights
server/*/.ipynb_checkpoints/
server/static/videos/output.mp4
